@keyframes hoverIn {
  0% {
    background-color: rgb(255, 255, 255, 0);
  }

  100% {
    background-color: rgb(255, 255, 255, 0.2);
  }
}

@keyframes hoverOut {
  0% {
    background-color: rgb(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgb(255, 255, 255, 0);
  }
}
